body {
    color: rgb(126, 126, 126);
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

/*font-family: 'Press Start 2P', cursive;*/

header {
    display: grid;
    grid-template-rows: 25% 70% 5%;
}

.top-bar {
    display: grid;
    align-items: center;
    justify-content: right;
    padding: 20px;
    height: 40px;
}

.title-bar {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    height: 135px;
}

.logo-box {
    display: flex;
}

.adventure-title {
    display: flex;
    justify-content: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 4rem;
    font-style: oblique;
    color:rgb(120, 149, 236);
    padding: 0px 0px 10px 0px; 
}

.aurora-colors {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#aurora-top {
    background-color: rgb(245, 173, 245);
    width: 100%;
}

#aurora-middle {
    background-color:rgb(150, 54, 150);
}

#aurora-bottom {
    background-color: rgb(120, 149, 236);
}

.border-bar {
    background-color: rgb(120, 149, 236);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.lead-text {
    margin: 20px;
    text-align: center;
}

.map-area {
    width: 800px;
    height: 560px;
    background-color:  rgb(120, 149, 236);
    border: rgb(120, 149, 236);
    color: white;
}

.quest-flex {
    display: block;
    color: white;
    height: 500px;
    align-items: justify;
}


.quest-scene {
    display: block;
}

.quest-area {
    display: block;
    justify-content: left;
    align-items: bottom;
}

.results-area {
    color: white;
}