
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px royalblue;
    
    /* background-image: url(./Baltoro_glacier_from_air_cropped.jpg); */
    color: rgb(126, 126, 126);
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

/*font-family: 'Press Start 2P', cursive;*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {

}

header {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    height: 80px;
    box-shadow: var(--shadow);
    background-color: white;

}

  
.map-area {
    display: block;
    width: 80%;
    height: 540px;
    background-color: grey;
    color: white;
    font-family: default;
    font-size: default;
}

.game-head {
    align-items: center;
}

.adventure-title {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 4rem;
    font-style: oblique;
    color:royalblue;
    padding: 0px 0px 10px 0px; 

}

#player-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    font-size: 0.7rem;
}

.logo-box {
    justify-content: right;
}

.game-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px double royalblue;
    width: 560px;
    background-color: white;
}

.start-button, .user-controls {
    display: block;
    margin: 15px;
}

.start-button {
    background-color: royalblue;
    color: white;
}